@import "tailwindcss";

:root {
  --background: #F9FAF6;
  --foreground: #121F1F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-primary: #0F3D3E;
  --color-brand-primary-light: #1b5253;
  --color-brand-secondary: #EAF2F1;
  --color-brand-accent: #C5A880;
  --color-brand-accent-light: #DBCDBA;
  --color-brand-dark: #121F1F;
  --color-brand-light: #F9FAF6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
